@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)
{
    .esriCTHeaderSearch
    {
        background-image: url("../images/img2X/search@2X.png") !important;
    }

    .esriCTHelpImg
    {
        background-image: url("../images/img2X/help@2X.png") !important;
    }

    .esriCTHeaderSearch-select
    {
        background-image: url("../images/img2X/search-select@2X.png") !important;
    }

    .esriCTTdGeolocation
    {
        background-image: url("../images/img2X/geo-location@2x.png") !important;
    }

    .esriCTImgSocialMediaSelect
    {
        background-image: url("../images/img2X/share-select@2X.png") !important;
    }

    .esriCTImgSocialMedia
    {
        background-image: url("../images/img2X/share@2X.png") !important;
    }

    .facebook
    {
        background-image: url("../images/img2X/img_facebook@2x.png") !important;
    }

    .twitter
    {
        background-image: url("../images/img2X/img_twitter@2x.png") !important;
    }

    .email
    {
        background-image: url("../images/img2X/img-email@2x.png") !important;
    }

    .esriCTExitImg
    {
        background-image: url("../images/img44x44/exit.png");
    }
}

@media screen and (max-width: 1024px)
{
    .esriCTHeaderSearch
    {
        background-image: url("../images/img44x44/search.png") !important;
    }

    .esriCTHeaderSearch-select
    {
        background-image: url("../images/img44x44/search-select.png") !important;
    }

    .esriCTHelpImg
    {
        background-image: url("../images/img44x44/Help.png") !important;
    }

    .esriCTTdGeolocation
    {
        background-image: url("../images/img44x44/imgGeolocation.png") !important;
    }

    .esriCTImgSocialMedia
    {
        background-image: url("../images/img44x44/imgSocialMedia.png") !important;
    }

    .esriCTImgSocialMediaSelect
    {
        background-image: url("../images/img44x44/imgSocialMedia-select.png") !important;
    }

    .facebook
    {
        background-image: url("../images/img44x44/img_facebook.png") !important;
    }

    .twitter
    {
        background-image: url("../images/img44x44/img_twitter.png") !important;
    }

    .email
    {
        background-image: url("../images/img44x44/img_email.png") !important;
    }

    .embedding
    {
        background-image: url("../images/img44x44/embedding.png") !important;
    }

    .esriCTExitImg
    {
        background-image: url("../images/img44x44/exit.png") !important;
    }
}

/*main browser theme*/
.esriCTHeaderSearch
{
    background-image: url("../images/img24x24/search-24.png");
}

.esriCTHelpImg
{
    background-image: url("../images/img24x24/Help-24.png");
}

.esriCTHeaderSearch-select
{
    background-image: url("../images/img24x24/search-select-24.png");
}

.esriCTTdGeolocation
{
    background-image: url("../images/img24x24/imgGeolocation-24.png");
}

.esriCTImgSocialMediaSelect
{
    background-image: url("../images/img24x24/imgSocialMedia-select-24.png");
}

.esriCTImgSocialMedia
{
    background-image: url("../images/img24x24/imgSocialMedia-24.png");
}

.facebook
{
    background-image: url("../images/img24x24/img_facebook-24.png");
}

.twitter
{
    background-image: url("../images/img24x24/img_twitter-24.png");
}

.email
{
    background-image: url("../images/img24x24/img_email-24.png");
}

.embedding
{
    background-image: url("../images/img24x24/embedding-24.png");
}

.esriCTExitImg
{
    background-image: url("../images/img24x24/exit-24.png");
}

.locateSearchicon
{
    background-image: url("../images/search-btn.png") !important;
}

.infoTitleArrow
{
    background-image: url("../images/right-blue-arrow.png");
}

.infoBackTitleArrow
{
    background-image: url("../images/blue-arrow.png");
}

.esriCTdivInfoRightArrow
{
    background: url("../images/right-blue-arrow.png");
}

.esriCTdivInfoLeftArrow
{
    background: url("../images/blue-arrow.png");
}

.esriCTLeftArrow, .esriCTRightArrow
{
    background-color: #007ac2 !important;
}

.esriCTArrow
{
    background-image: url("../images/right.png") !important;
}

.esriCTApplicationHeader
{
    border-bottom: 1px solid #007ac2 !important;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    background-color: #007ac2 !important;
}

.HomeButton .home, .HomeButton .home:hover
{
    background-color: #007ac2;
}

.BasemapToggle .toggleButton
{
    border: 2px solid #007ac2 !important;
}

.BasemapToggle .basemapTitle
{
    color: #007ac2 !important;
}

.BasemapToggle .basemapImage
{
    border: 1px solid #007ac2;
}

.esriCTApplicationHeaderTextSelected
{
    color: #007AC2 !important;
}

.esriCTDivLegendInnerBox
{
    border: 1px solid #007ac2;
}

.esriInfoPanelContainer
{
    color: #007AC2 !important;
}

.esriCTHeaderLine
{
    color: #007AC2 !important;
}

.esriPopup .titlePane
{
    color: #007AC2 !important;
    border-color: #007AC2 !important;
    border-bottom: 1px solid #007AC2;
}

.esriPopup .contentPane
{
    border-color: #007AC2 !important;
}

.esriPopup .actionsPane
{
    border-color: #007AC2 !important;
}

.esriCTTInfoWindowContainer
{
    border: #007ac2 solid 1px;
}

.esriCTinfoWindow
{
    border: #007ac2 solid 1px;
}

.infopanel
{
    border-top: 1px #007ac2 solid;
}

.esriCTAddressContent
{
    border-right: 1px solid #007ac2;
    border-left: 1px solid #007ac2;
    border-bottom: 1px solid #007ac2;
}

.esriCTDivAppHolder
{
    background-color: #fff;
    border-right: 1px solid #007ac2;
    border-left: 1px solid #007ac2;
    border-bottom: 1px solid #007ac2;
}

.esriCTDivshareContainer
{
    background-color: #fff;
    border-right: 1px solid #007ac2;
    border-left: 1px solid #007ac2;
    border-bottom: 1px solid #007ac2;
}

.esriCTTxtShare
{
    border-top: 1px solid #007AC2;
    border-bottom: 1px solid #007AC2;
    border-left: 1px solid #007AC2;
    border-right: 1px solid #007AC2;
}

.esriCTSliderMinutes
{
    color: #007AC2;
}

/*header*/
.driveIconSelected
{
    background-image: url("../images/car-select.png");
}

.walkIconSelected
{
    background-image: url("../images/walk-select.png");
}

/*slider*/
.dijitSliderImageHandleH
{
    background-image: url('../images/thumb-blue.png') !important;
}

.claro .dijitSliderProgressBarH .dijitSliderThumbHover
{
    background-image: url('../images/thumb-blue.png') !important;
}

.dijitSliderBumperH, .dijitSliderBarH
{
    background-color: #007ac2;
}

.claro .dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper
{
    background-color: #007ac2;
}

/*seach button*/
.locateSearchicon
{
    background-image: url("../images/search-btn.png") !important;
}
/*share*/

/*grouped address*/

.esriCTResultColor
{
    color: #007ac2;
}

.collapse
{
    background-image: url('../images/expand-select-Blue.png');
}

.expand
{
    background-image: url('../images/list-legend-select-blue.png');
}

.esriCTlayerFeatures
{
    border-bottom: 1px solid #b4b4b4;
}

.layerTitle
{
    color: #007ac2;
}

.esriCTlayerFeatures
{
    color: #007ac2;
}

.divSelectedFeature
{
    border-top: 1px solid #007ac2;
}

.collapseSelectedBlue
{
    background-image: url('../images/list-legend-select-blue.png') !important;
}

.expandSelectedBlue
{
    background-image: url('../images/expand-select-Blue.png') !important;
}

.spanRouteLength
{
    color: #007ac2;
}

/* infowindow anchor*/
.esriCTdivTriangle
{
    background-image: url("../images/bottomArrow-blue.png");
}
/*legends */

.esriCTDivLegendBoxContent
{
    background: #FFFFFF;
}

.esriCTDivLegendLabel
{
    color: #6e6e6e;
}

.esriCTDivLegendInnerBox div
{
    color: #6e6e6e;
}

/* End of legends */