.esriCTApplicationHeader {
    border-bottom: 1px solid #5C2E6F !important;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton {
    background-color: #5C2E6F !important;
}

.HomeButton .home, .HomeButton .home:hover {
    background-color: #5C2E6F;
}

.BasemapToggle .toggleButton {
    border: 2px solid #5C2E6F !important;
}

.BasemapToggle .basemapTitle {
    color: #5C2E6F !important;
}

.BasemapToggle .basemapImage {
    border: 1px solid #5C2E6F;
}

.esriCTApplicationHeaderTextSelected {
    color: #5C2E6F !important;
}

.legenboxInner {
    border: 1px solid #5C2E6F;
}

.esriInfoPanelContainer {
    color: #5C2E6F !important;
}

.esriCTHeaderLine {
    color: #5C2E6F !important;
}

.esriCTRouteToplabel {
    color: #5C2E6F;
}

.esriCTRouteMapName {
    color: #5C2E6F;
}

.esriCTRouteMapNum {
    color: #5C2E6F;
}

.esriCTRouteMapArrow {
    color: #5C2E6F;
}

.esriCTRouteToplabelBackView {
    color: #5C2E6F;
}

.esriCTRouteBAck {
    color: #5C2E6F;
}

.esriCTdivShowReRouteContainer {
    color: #5C2E6F !important;
}

.esriPopup .titlePane {
    color: #5C2E6F !important;
    border-color: #5C2E6F !important;
    border-bottom: 1px solid #5C2E6F;
}

.esriPopup .contentPane {
    border-color: #5C2E6F !important;
}

.esriPopup .actionsPane {
    border-color: #5C2E6F !important;
}

.simpleDirections .esriStopsContainer {
    border-bottom: 1px solid #5C2E6F;
}

.esriCTTInfoWindowContainer {
    border: #5C2E6F solid 1px;
}

.esriCTinfoWindow {
    border: #5C2E6F solid 1px;
}

.infopanel {
    border-top: 1px #5C2E6F solid;
}

.esriCTAddressContent {
    border-right: 1px solid #5C2E6F;
    border-left: 1px solid #5C2E6F;
    border-bottom: 1px solid #5C2E6F;
}

.esriCTDivAppHolder {
    border-right: 1px solid #5C2E6F;
    border-left: 1px solid #5C2E6F;
    border-bottom: 1px solid #5C2E6F;
}

.esriCTDivshareContainer {
    border-right: 1px solid #5C2E6F;
    border-left: 1px solid #5C2E6F;
    border-bottom: 1px solid #5C2E6F;
}

.esriCTTxtShare {
    border-top: 1px solid #5C2E6F;
    border-bottom: 1px solid #5C2E6F;
    border-left: 1px solid #5C2E6F;
    border-right: 1px solid #5C2E6F;
}
/*header*/
.driveIconSelected {
    background-image: url("../images/car-purple-select.png");
}

.walkIconSelected {
    background-image: url("../images/walk-purple-select.png");
}

.esriCTTdHeaderSearch-select {
    background-image: url("../images/search-purple-select.png");
}

.esriCTImgSocialMedia-select {
    background-image: url("../images/share-purple-select.png");
}


/*slider*/
.dijitSliderImageHandleH {
    background-image: url('../images/thumb-purple.png') !important;
}

.claro .dijitSliderProgressBarH .dijitSliderThumbHover {
    background-image: url('../images/thumb-purple.png') !important;
}

.dijitSliderBumperH, .dijitSliderBarH {
    background-color: #5C2E6F;
}

.claro .dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper {
    background-color: #5C2E6F;
}
/*seach button*/
.locateSearchicon {
    background-image: url("../images/search-purple.png") !important;
}
/*share*/

.facebook {
    background-image: url("../images/img_facebook_purple.png") !important;
}

.twitter {
    background-image: url("../images/img_twitter_purple.png") !important;
}

.email {
    background-image: url("../images/img_email_purple.png") !important;
}
/*Legend*/
.esriCTRightArrow {
    background-image: url("../images/right-purple_Legend-arrow.png") !important;
}

.esriCTLeftArrow {
    background-image: url("../images/left-purple_Legend-arrow.png") !important;
    
}

